$fontSize: 16px;
$sidebarBoxShadow: 0 0 1px 1px rgba(0,0,0,.2);
$globalNavLinkHeight: 3rem;
$globalNavLinkColor: #FFF;
$entertainmentsColor: #444444;
$applicationsColor: #679f38;
$moviesColor: #ee3b3b;

$navbarColors: (
  entertainments: #444444,
  applications: #679f38,
  movies: #ee3b3b
);